.search-container {
  position: relative;
  width: 50%;
  margin: 50px auto;
  padding: 50px 30px;
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #494949;
  border: 2px solid #ffffff;
  border-top: none;
  border-radius: 10px;
  z-index: 1000;
  max-height: 150px;
  overflow-y: auto;
  display: block;
}

.suggestions-list div {
  padding: 10px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s;
}

.suggestions-list div:hover {
  background-color: #6D2CF6;
  color: #fff;
}

.action-row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.action-row .btn {
  flex-shrink: 0;
}

.action-row .search-container {
  flex-grow: 1;
  max-width: 400px;
}

.search-container input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: #313131;
  color: #fff;
}
